<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>cuarto template</h1>
    <h2>{{ fecha_actual }}</h2>

    <ol>
      <p1>Lean probando</p1>
      <ul>
        {% for num in numeros %}
          {% if num > 5 %}
            <li>{{ num }}</li>
          {% else %}
            <li>soy menor a 5</li>
          {% endif %}
        {% endfor %}
      </ul>
    </ol>
  </body>
</html>
